<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/assets/css/posts.css" />
    <script src="https://kit.fontawesome.com/04a2ad65c9.js" crossorigin="anonymous"></script>
    <title>Arhiv Novic</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="logo"><img src="../public/assets/images/logo.png" alt="" /></div>
        <div class="title">Prostovoljno gasilsko društvo <span>Uršna sela</span></div>
      </div>
    </header>
    <nav>
      <a href="/"><i class="fas fa-home"></i> Glavna stran</a>
    </nav>
    <main>
      <section>
        <% posts.forEach(post => { %>
        <div class="post-wrapper">
          <div class="post-title"><%= post.title %></div>
          <div class="post-date"><i class="far fa-calendar"></i> <%= `${post.date.getDate()}.${post.date.getMonth()}.${post.date.getFullYear()}` %></div>
          <div class="post-content"><%= post.content %></div>
          <a href="post/<%= post.slug %>"><div class="post-button">Preberi več</div></a>
        </div>
        <% }) %>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
