@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background-color: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2rem;
  position: fixed;
  top: 0;
  background-color: #f3f3f3;
}

nav h1 {
  font-size: 2.5rem;
  color: #2c2f33;
}

main {
  width: 100%;
  height: 100vh;
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

main form label {
  font-size: 1.5rem;
}

main form input {
  width: 100%;
  font-size: 1.2rem;
  outline: none;
  padding: 0.2rem;
  font-family: 'Inter', sans-serif;
}

main form a {
  color: #f3f3f3;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

main form .cancel {
  display: inline-block;
  background-color: #36393f;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  -webkit-transition: background-color 0.6s ease-in;
  transition: background-color 0.6s ease-in;
}

main form .cancel:hover {
  background-color: #f02127;
}

main form textarea {
  resize: none;
  font-size: 1.2rem;
  padding: 0.2rem;
  height: 5em;
  font-family: 'Inter', sans-serif;
}

main form .counter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main form button {
  background-color: #36393f;
  color: #f3f3f3;
  border: none;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-transition: background-color 0.6s ease-in;
  transition: background-color 0.6s ease-in;
  font-family: 'Inter', sans-serif;
}

main form button:hover {
  background-color: #f02127;
}

main form [type='file'] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

main form [type='file'] + label {
  width: 50%;
  background-color: #36393f;
  color: #f3f3f3;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  -webkit-transition: background-color 0.6s ease-in;
  transition: background-color 0.6s ease-in;
  text-align: center;
}

main form [type='file']:focus + label,
main form [type='file'] + label:hover {
  background-color: #f02127;
}

main form [type='file']:focus + label {
  outline: 1px dotted #000;
}

.gallery-wrapper {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.5rem;
  margin-bottom: 4rem;
}

.gallery-wrapper .image-wrapper {
  padding: 0.5rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

.gallery-wrapper .image-wrapper img {
  width: 100%;
}

.gallery-wrapper .image-wrapper .image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: #36393f;
}

.gallery-wrapper .image-wrapper .image-text form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery-wrapper .image-wrapper .image-text form .delete-image-button {
  background: none;
  color: #36393f;
  font-size: 1.5rem;
  -webkit-transition: color 0.6s ease-in;
  transition: color 0.6s ease-in;
}

.gallery-wrapper .image-wrapper .image-text form .delete-image-button:hover {
  color: #f02127;
}

footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #f3f3f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=posts.css.map */