@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: 15rem;
}

header .logo img {
  width: 5rem;
}

header .title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  color: #f02127;
  text-align: center;
}

header .title span {
  color: #36393f;
  font-weight: bolder;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0 0.5rem 0;
  background-color: #f02127;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f3f3f3;
  text-decoration: none;
  padding: 0.2rem 1.7rem;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

nav a i {
  font-size: 1.8rem;
}

nav a:hover {
  background-color: #f3474c;
}

main {
  font-family: 'Roboto', sans-serif;
  color: #2c2f33;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section {
  width: 90%;
  margin-top: 2rem;
}

main section .post-title {
  font-size: 3rem;
  margin-bottom: 0.1rem;
}

main section .post-date {
  font-size: 1.2rem;
  color: #36393f;
  margin-bottom: 1rem;
}

main section .post-content {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

main section .gallery-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.5rem;
  margin-bottom: 4rem;
}

main section .gallery-wrapper .image-wrapper {
  padding: 0.5rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

main section .gallery-wrapper .image-wrapper img {
  width: 100%;
}
/*# sourceMappingURL=post.css.map */