@import './_variables';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: $backgroundColor;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;

  .header-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 15rem;

    img {
      width: 5rem;
    }
  }

  .title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: $terciaryColor;
    text-align: center;

    span {
      color: $secondaryColor;
      font-weight: bolder;
    }
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0 0.5rem 0;
  background-color: $terciaryColor;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $backgroundColor;
    text-decoration: none;
    padding: 0.2rem 1.7rem;
    border-radius: 0.5rem;
    transition: background-color 0.5s ease;

    i {
      font-size: 1.8rem;
    }
  }

  a:hover {
    background-color: lighten($terciaryColor, 8);
  }
}

main {
  font-family: 'Roboto', sans-serif;
  color: $primaryColor;
  width: 100%;
  display: flex;
  justify-content: center;

  section {
    width: 90%;
    margin-top: 2rem;

    .post-title {
      font-size: 3rem;
      margin-bottom: 0.1rem;
    }

    .post-date {
      font-size: 1.2rem;
      color: $secondaryColor;
      margin-bottom: 1rem;
    }

    .post-content {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    .gallery-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 0.5rem;
      margin-bottom: 4rem;

      .image-wrapper {
        //width: 40%;
        padding: 0.5rem;
        margin-bottom: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);

        img {
          width: 100%;
        }
      }
    }
  }
}
