@import './_variables';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: $backgroundColor;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  .header-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 15rem;

    img {
      width: 5rem;
    }
  }

  .title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: $terciaryColor;
    text-align: center;

    span {
      color: $backgroundColor;
      font-weight: bolder;
    }
  }
}

nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0 0.5rem 0;
  background-color: $terciaryColor;
  color: $backgroundColor;

  a {
    color: $backgroundColor;
    text-decoration: none;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.2rem 1.7rem;
      border-radius: 0.5rem;
      transition: background-color 0.5s ease;

      i {
        font-size: 1.8rem;
      }
    }

    li:hover {
      background-color: lighten($terciaryColor, 8);
    }
  }
}

main {
  font-family: 'Roboto', sans-serif;
  color: $primaryColor;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url(/public/assets/images/hero-image-2.png);
    background-size: cover;
    .action-arrow {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translate(-50%);
      font-size: 3rem;
      cursor: pointer;
    }
    .action-arrow a {
      color: #ffffff;
      text-decoration: none;
    }

    .hero-text {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%);
      font-size: 3rem;
      font-weight: bolder;
      color: $terciaryColor;
      text-align: center;
      animation: opacityPulse 3s ease-out;
      animation-iteration-count: infinite;
      opacity: 0.4;

      span {
        color: $backgroundColor;
      }
    }
  }

  .welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcome-title {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .welcome-text {
      width: 90%;
      text-align: justify;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }

    .welcome-image {
      width: 90%;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0.3rem;
      }
    }
  }

  .notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    .notifications-title {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .notification-wrapper {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
      background-color: rgba(0, 0, 0, 0.027);
      border-radius: 5px;

      animation: boxShadow 1.5s ease-out;
      animation-iteration-count: infinite;

      .notification-date {
        font-size: 1.2rem;
        color: lighten($secondaryColor, 30);
        width: 100%;
        text-align: right;
      }

      .notification-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .notification-content {
        text-align: justify;
        font-size: 1.4rem;
      }
    }
  }

  .news {
    display: flex;
    flex-direction: column;
    align-items: center;

    .news-title {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .news-wrapper {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .post-wrapper {
        background-color: rgb(235, 235, 235);
        padding: 0.5rem;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        .post-date {
          font-size: 1.2rem;
          color: lighten($secondaryColor, 30);
        }

        .post-title {
          font-size: 2.2rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        .post-image {
          width: 100%;

          img {
            max-width: 100%;
            border-radius: 0.3rem;
          }
        }

        .post-content {
          text-align: justify;
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }

        .post-button {
          display: inline-block;
          padding: 0.5rem 1rem;
          background-color: $terciaryColor;
          color: $backgroundColor;
          font-size: 1.2rem;
          border-radius: 0.2rem;
          cursor: pointer;
          transition: all 1s ease;
        }

        .post-button:hover {
          background-color: $backgroundColor;
          color: $terciaryColor;
        }
      }

      .post-archive-button {
        display: inline-block;
        padding: 0.5rem 2.5rem;
        background-color: $terciaryColor;
        color: $backgroundColor;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 0.5rem;
        border-radius: 0.2rem;
        cursor: pointer;
        transition: all 1s ease;
      }

      .post-archive-button:hover {
        background-color: $backgroundColor;
        color: $terciaryColor;
      }
    }
  }

  .vehicles {
    display: flex;
    flex-direction: column;
    align-items: center;

    .vehicles-title {
      font-size: 3rem;
      font-weight: bold;
    }

    .vehicles-description {
      width: 90%;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }

    .vehicles-wrapper {
      width: 90%;

      .vehicle-wrapper {
        background-color: rgb(235, 235, 235);
        padding: 0.5rem;
        border-radius: 0.3rem;

        .vehicle-image {
          img {
            border-radius: 0.3rem;
            max-width: 100%;
          }
        }
        .vehicle-title {
          font-size: 2.2rem;
        }
        .vehicle-description {
          font-size: 1.4rem;
        }
      }
    }
  }

  .calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    .calendar-title {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .calendar-wrapper {
      width: 90%;
      position: relative;
      padding-bottom: 75%;
      height: 0;
      overflow: hidden;
      z-index: -1;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 4.4rem;

  box-shadow: 0 2px 6px 2px rgba(255, 0, 0, 0.2);

  .footer-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side {
      .logo {
        width: 3.5rem;

        img {
          max-width: 100%;
        }
      }
    }

    .right-side {
      font-family: 'Roboto', sans-serif;
      font-size: 1.1rem;
      font-weight: bold;

      i {
        color: $terciaryColor;
      }
    }
  }
}

@keyframes opacityPulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
  }
  50% {
    box-shadow: 0 4px 8px 2px rgba(255, 0, 0, 0.16);
  }
  100% {
    box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
  }
}
