@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: radial-gradient(circle, white 0%, rgba(240, 33, 39, 0.053659) 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: 15rem;
}

header .logo img {
  width: 5rem;
}

header .title {
  font-family: 'Suez One', serif;
  font-size: 2rem;
  color: #f02127;
  text-align: center;
}

header .title span {
  color: #f3f3f3;
}

nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0 0.5rem 0;
  background-color: #f02127;
  color: #f3f3f3;
}

nav a {
  color: #f3f3f3;
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 1.7rem;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

nav ul li i {
  font-size: 1.8rem;
}

nav ul li:hover {
  background-color: #b80c11;
}

main {
  font-family: 'Roboto', sans-serif;
  color: #2c2f33;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 4rem;
}

main .hero {
  width: 100%;
  height: 100vh;
  background-image: url(/public/assets/images/hero-image-2.jpg);
  background-size: cover;
}

main .hero .action-arrow {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 5rem;
  cursor: pointer;
}

main .hero .action-arrow a {
  color: #ffffff;
  text-decoration: none;
}

main .hero .hero-text {
  font-family: 'Suez One', serif;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 3rem;
  font-weight: bolder;
  color: #f02127;
  text-align: center;
  -webkit-animation: opacityPulse 2.5s ease-out;
          animation: opacityPulse 2.5s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0.5;
}

main .hero .hero-text span {
  color: #f3f3f3;
  text-transform: uppercase;
}

main .welcome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/public/assets/images/fire-tools-very-light.png);
  background-size: cover;
  padding-top: 1rem;
  margin-top: -1rem;
}

main .welcome .welcome-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

main .welcome .welcome-text {
  width: 90%;
  text-align: justify;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

main .welcome .welcome-image {
  width: 90%;
}

main .welcome .welcome-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.3rem;
}

main .notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  margin-top: -1rem;
}

main .notifications .notifications-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

main .notifications .notification-wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
          box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
  background-color: rgba(0, 0, 0, 0.027);
  border-radius: 5px;
  -webkit-animation: boxShadow 1.5s ease-out;
          animation: boxShadow 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

main .notifications .notification-wrapper .notification-date {
  font-size: 1.2rem;
  color: #7e8490;
  width: 100%;
  text-align: right;
}

main .notifications .notification-wrapper .notification-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

main .notifications .notification-wrapper .notification-content {
  text-align: justify;
  font-size: 1.4rem;
}

main .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/public/assets/images/fire-tools-very-light.png);
  background-size: contain;
  padding-top: 1rem;
  margin-top: -1rem;
}

main .news .news-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

main .news .news-wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news .news-wrapper .post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

main .news .news-wrapper .post-wrapper .post-date {
  font-size: 1.2rem;
  color: #7e8490;
}

main .news .news-wrapper .post-wrapper .post-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

main .news .news-wrapper .post-wrapper .post-image {
  width: 100%;
}

main .news .news-wrapper .post-wrapper .post-image img {
  max-width: 100%;
  border-radius: 0.3rem;
}

main .news .news-wrapper .post-wrapper .post-content {
  text-align: justify;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

main .news .news-wrapper .post-wrapper .post-button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .news .news-wrapper .post-wrapper .post-button-wrapper .post-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #f02127;
  color: #f3f3f3;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .news .news-wrapper .post-wrapper .post-button-wrapper .post-button:hover {
  background-color: #b80c11;
}

main .news .news-wrapper .post-archive-button {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  background-color: #f02127;
  color: #f3f3f3;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .news .news-wrapper .post-archive-button:hover {
  background-color: #b80c11;
}

main .vehicles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/public/assets/images/fire-truck-very-light.png);
  background-size: cover;
  padding-top: 1rem;
  margin-top: -1rem;
}

main .vehicles .vehicles-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

main .vehicles .vehicles-description {
  width: 90%;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

main .vehicles .vehicles-wrapper {
  width: 90%;
}

main .vehicles .vehicles-wrapper .vehicle-wrapper {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

main .vehicles .vehicles-wrapper .vehicle-wrapper .vehicle-image img {
  border-radius: 0.3rem;
  max-width: 100%;
}

main .vehicles .vehicles-wrapper .vehicle-wrapper .vehicle-title {
  font-size: 2.2rem;
}

main .vehicles .vehicles-wrapper .vehicle-wrapper .vehicle-description {
  font-size: 1.4rem;
}

main .calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  background-image: url(/public/assets/images/house-very-very-light.png);
  background-size: cover;
  padding-top: 1rem;
  margin-top: -1rem;
}

main .calendar .calendar-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

main .calendar .calendar-wrapper {
  width: 90%;
}

main .calendar .calendar-wrapper .fc-button {
  background-color: #f02127;
  color: #f3f3f3;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .calendar .calendar-wrapper .fc-button:hover {
  background-color: #b80c11;
}

main .calendar .calendar-wrapper .fc-button-active {
  background-color: #b80c11;
}

main .calendar .calendar-wrapper .fc-today {
  background-color: #fababc;
}

main .calendar .calendar-wrapper .fc th,
main .calendar .calendar-wrapper .fc td {
  border-color: #b8aeae;
}

main .calendar .calendar-wrapper .fc-event {
  background-color: #b80c11;
  border: 1px solid #b80c11;
  border-radius: 0px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  margin-bottom: 4.4rem;
  -webkit-box-shadow: 0 2px 6px 2px rgba(255, 0, 0, 0.2);
          box-shadow: 0 2px 6px 2px rgba(255, 0, 0, 0.2);
}

footer .footer-wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper .left-side .logo {
  width: 3.5rem;
}

footer .footer-wrapper .left-side .logo img {
  max-width: 100%;
}

footer .footer-wrapper .middle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

footer .footer-wrapper .middle i {
  color: #f02127;
}

footer .footer-wrapper .right-side .back-to-top {
  padding: 1rem 1.2rem;
  background-color: #f02127;
  color: #f3f3f3;
  font-size: 1.5rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 0.2rem;
}

footer .footer-wrapper .right-side .back-to-top:hover {
  background-color: #b80c11;
}

@media all and (min-width: 800px) {
  main .welcome .welcome-text,
  main .welcome .welcome-image {
    width: 70%;
  }
  main .notifications .notification-wrapper {
    width: 70%;
  }
  main .news .news-wrapper {
    width: 70%;
  }
  main .vehicles .vehicles-description,
  main .vehicles .vehicles-wrapper {
    width: 70%;
  }
  main .calendar .calendar-wrapper {
    width: 70%;
  }
  footer .footer-wrapper {
    width: 70%;
  }
}

@media all and (min-width: 1024px) {
  header {
    top: 5rem;
  }
  nav {
    position: fixed;
    top: 0;
    height: 5rem;
  }
  nav ul {
    width: 50%;
    margin: auto;
  }
  nav ul li {
    font-size: 1.5rem;
  }
  main .welcome .welcome-text,
  main .welcome .welcome-image {
    width: 60%;
  }
  main .notifications .notification-wrapper {
    width: 60%;
  }
  main .news .news-wrapper {
    width: 60%;
  }
  main .vehicles .vehicles-description,
  main .vehicles .vehicles-wrapper {
    width: 60%;
  }
  main .calendar .calendar-wrapper {
    width: 60%;
  }
  footer {
    margin-bottom: 0;
  }
  footer .footer-wrapper {
    width: 60%;
  }
}

@media all and (min-width: 1500px) {
  main .welcome .welcome-text,
  main .welcome .welcome-image {
    width: 50%;
  }
  main .notifications .notification-wrapper {
    width: 50%;
  }
  main .news .news-wrapper {
    width: 50%;
  }
  main .vehicles .vehicles-description,
  main .vehicles .vehicles-wrapper {
    width: 50%;
  }
  main .calendar .calendar-wrapper {
    width: 50%;
  }
  footer .footer-wrapper {
    width: 50%;
  }
}

@-webkit-keyframes opacityPulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes opacityPulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes boxShadow {
  0% {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
            box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
  }
  50% {
    -webkit-box-shadow: 0 4px 8px 2px rgba(255, 0, 0, 0.16);
            box-shadow: 0 4px 8px 2px rgba(255, 0, 0, 0.16);
  }
  100% {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
            box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
  }
}

@keyframes boxShadow {
  0% {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
            box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
  }
  50% {
    -webkit-box-shadow: 0 4px 8px 2px rgba(255, 0, 0, 0.16);
            box-shadow: 0 4px 8px 2px rgba(255, 0, 0, 0.16);
  }
  100% {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
            box-shadow: 0 4px 8px 0 rgba(0, 38, 255, 0.16);
  }
}
/*# sourceMappingURL=style.css.map */